@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
:root {
  --global-background-color: #f4f4f4;
  --bg-blue: #343477;
  --bg-salmon: #e24e42;
  --bg-dark-blue: #161636;
  --bg-black: #232021;
  --bg-yellow: #fefb41;
  --bg-red: #ff1a1a;
  --bg-light-blue: #5cbefd;
}

* {
  margin: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--global-background-color);
  font-size: 16px;
  font-family: nunito,helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.blue {
  background-color: var(--bg-blue);
}

.salmon {
  background-color: var(--bg-salmon);
}

.dark-blue {
  background-color: var(--bg-dark-blue);
}

.black {
  background-color: var(--bg-black);
}

.yellow {
  background-color: var(--bg-yellow);
}

.red {
  background-color: var(--bg-red);
}

.light-blue {
  background-color: var(--bg-light-blue);
}

